.order-menu {
  padding-top: 2rem;

  &__title {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__content {
    min-height: 300px;
    nav {
      & > .item {
        margin-right: 1rem;
        text-decoration: none;
        text-decoration: underline;
        color: var(--text-primary);
      }
    }
  }

  &__item {
    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        max-width: 200px;
        color: var(--text-primary);

        & > .item {
          flex: 1;
          padding-right: 1rem;
        }
        & > .price {
          font-weight: bold;
        }
      }
    }
  }
}
